<!DOCTYPE html>
<html>

<head>
    <!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">
    
    <!-- Document http-equiv Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">
    
    <!-- Document Viewport Metadata -->
    <meta content="height=device-height, initial-scale=1.0, maximum-scale=2.0, minimal-ui, minimum-scale=0.1, user-scalable=no, width=device-width" target-densitydpi="92dpi" name="viewport">
    
    <!-- Miscellaneous Metadata -->
    <meta content="The Lapys Dev Team" name="author">


    <!-- LapysJS Stylesheet -->
    <link href="../../../src/lapys.css" media="all" rel="stylesheet" type="text/css">

    <!-- Document Stylesheet -->
    <link href="../../../assets/css/templates/personal.css" media="all" rel="stylesheet" type="text/css">

    <title> LapysJS | My Web Profile </title>
</head>

<body>
    <!-- Main Content -->
    <main class="rspnv-img">

        <!-- Profile Section -->
        <section class="bg-c-w m-auto section txt-a-c w-80" id="profileSection">
            <br 2>

            <!-- Profile Image -->
            <div class="bdr-rd bg bx-s-2 m-auto" id="profileImage" style="background-image: url(../../../assets/img/templates/png/avatar.png)"> </div>
            
            <br 2>

            <!-- Introduction -->
            <section class="bx-s-none frm m-0" id="profileSummary">
                <h1 hr> Hi, I’m John Doe </h1>

                <p> Give a brief summary of yourself. <lorem 3> </lorem> </p>
            </section>
        </section>

        <!-- Content Section -->
        <section class="bg-c-w section" id="contentSection">

            <!-- Recent Events Section -->
            <section class="section m-auto w-80" id="recentEventsSection">
                <h2 class="m-0 title"> My Trip Around the World </h2>

                <!-- Image Gallery -->
                <nav class="col-grp" id="recentEventsGallery">
                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/wave.jpg">

                        <!-- Caption -->
                        <div>
                            <span> My First Wave :D </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/hawaii.jpg">

                        <!-- Caption -->
                        <div>
                            <span> Beautiful Sunset </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/lava.jpg">

                        <!-- Caption -->
                        <div>
                            <span> Volcanoes in Hawaii </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/lizard.jpg">

                        <!-- Caption -->
                        <div>
                            <span> Perfect Capture </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/photoshop.jpg">

                        <!-- Caption -->
                        <div>
                            <span q> <small> Autumn is Coming </small> </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/sea-turtles.jpg">

                        <!-- Caption -->
                        <div>
                            <span> Sea Turtles!!! </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>

                    <!-- Frame -->
                    <div class="frm">
                        <!-- Thumbnail -->
                        <img src="../../../assets/img/templates/jpg/bridge.jpg">

                        <!-- Caption -->
                        <div>
                            <span> Water Bridge </span>
                            <a class="flt-r"> <small> Read more &raquo; </small> </a>
                        </div>
                    </div>
                </nav>
            </section>

            <!-- Hobbies & Skills Section -->
            <section class="otln section" id="hobbiesAndSkillsSection">

                <!-- Navigation Carousel -->
                <h2 class="title"> Things I Like </h2>

                <nav class="bg-c-w crsl w-100"
                    data-duration="1"
                    data-interval="1.5"
                    data-marquee
                    data-slide="panel"
                    style="height: 200px">

                    <div class="col-grp d-f">

                        <!-- Hobby -->
                        <div class="grid-3 h-inherit txt-a-c">
                            <div class="icn-1-gift"> </div>

                            <div> Gift Giving </div>
                        </div>
                        
                        <!-- Hobby -->
                        <div class="grid-3 txt-a-c">
                            <div class="icn-2-chinesecharacter"> </div>

                            <div> Chinese Movies </div>
                        </div>

                        <!-- Hobby -->
                        <div class="grid-3 txt-a-c">
                            <div class="icn-1-ribbon"> </div>

                            <div> Campaigns </div>
                        </div>
                    </div>

                    <div class="col-grp d-f">
                    
                        <!-- Hobby -->
                        <div class="grid-3 h-inherit txt-a-c">
                            <div class="icn-1-speechbubbles3"> </div>

                            <div> Social Media </div>
                        </div>
                        
                        <!-- Hobby -->
                        <div class="grid-3 txt-a-c">
                            <div class="icn-1-spider"> </div>

                            <div> Spiders </div>
                        </div>

                        <!-- Hobby -->
                        <div class="grid-3 txt-a-c">
                            <div class="icn-2-aeroplane2"> </div>

                            <div> Air Travel </div>
                        </div>
                    </div>
                
                    <div class="col-grp d-f">

                        <!-- Hobby -->
                        <div class="grid-3 h-inherit txt-a-c">
                            <div class="icn-1-throwingstar"> </div>

                            <div> Ninjas </div>
                        </div>
                        
                        <!-- Hobby -->
                        <div class="grid-3 txt-a-c">
                            <div class="icn-1-tools"> </div>

                            <div> Labor Work </div>
                        </div>

                        <!-- Hobby -->
                        <div class="grid-3 txt-a-c">
                            <div class="icn-1-trophy"> </div>

                            <div> Athletics </div>
                        </div>
                    </div>
                </nav>
            </section>

            <!-- Friends Section -->
            <section class="section" id="friendsSection">
                <h2 class="title"> My Friends </h2>

                <br 2>

                <section class="col-grp" id="friendsSectionGallery">
                    <!-- Tom -->
                    <div class="grid-7">
                        <div class="h-width w-90" style="background: url((unknown))"> </div>
                    </div>

                    <!-- John -->
                    <div class="grid-7">
                        <div class="h-width w-90" style="background: url((unknown))"> </div>
                    </div>
                    
                    <!-- Melissa -->
                    <div class="grid-7">
                        <div class="h-width w-90" style="background: url((unknown))"> </div>
                    </div>
                    
                    <!-- Mary -->
                    <div class="grid-7">
                        <div class="h-width w-90" style="background: url((unknown))"> </div>
                    </div>
                    
                    <!-- Henry -->
                    <div class="grid-7">
                        <div class="h-width w-90" style="background: url((unknown))"> </div>
                    </div>
                    
                    <!-- Paul -->
                    <div class="grid-7">
                        <div class="h-width w-90" style="background: url((unknown))"> </div>
                    </div>
                </section>
            </section>
        </section>
    </main>

    <!-- LapysJS Script -->
    <script language="javascript" src="../../../src/lapys.js" type="text/javascript"> </script>
</body>

</html>