/* CSS At-Rules */
/* @media */
    /* Mobile S */
    @media only screen
        and (max-width: 320px)
        and (min-width: 0px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 15px !important
                }
    }

    /* Mobile & Tablet */
    @media only screen
        and (max-width: 1023px)
        and (min-width: 0px) {
            /* Navigation */
                /* Navigation Item */
                #nav .nav-item {
                    font-size: 90%
                }
                    /* Home */
                    #nav .nav-item#home {
                        text-indent: -4%
                    }

                    /* Download */
                    #nav .nav-item#download {
                        display: none
                    }
                    
                    /* Javascript */
                    #nav .nav-item#javascript::after {
                        content: "JS" !important
                    }
                    
                    /* Components */
                    #nav .nav-item#components {
                        display: none
                    }
                    
                    /* Documentation */
                    #nav .nav-item#documentation::after {
                        content: "Docs" !important
                    }
                    
                    /* Themes */
                    #nav .nav-item#themes {
                        font-size: 80% !important;
                        line-height: 155%;
                        text-indent: -4.5%
                    }
    }

    /* Mobile M */
    @media only screen
        and (max-width: 375px)
        and (min-width: 321px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 15.5px !important
                }
    }

    /* Mobile L */
    @media only screen
        and (max-width: 425px)
        and (min-width: 376px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 16px !important
                }
    }

    /* Mobile M & Mobile L */
    @media only screen
        and (max-width: 767px)
        and (min-width: 375px) {
            /* Navigation */
                /* Navigation Item */
                    /* Home */
                    #nav .nav-item#home {
                        text-indent: -1%
                    }
                    
                    /* Themes */
                    #nav .nav-item#themes {
                        text-indent: -2%
                    }
    }
    
    /* Tablet */
    @media only screen
        and (max-width: 1023px)
        and (min-width: 768px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 16.5px !important
                }

            /* Navigation */
            #nav {
                zoom: 2.25 !important   
            }
    }

    /* Laptop */
    @media only screen
        and (max-width: 1024px)
        and (min-width: 769px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 17px !important
                }
    }

    /* Laptop L */
    @media only screen
        and (max-width: 2559px)
        and (min-width: 1440px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 17.5px !important
                }
    }

    /* 4K */
    @media only screen
        and (min-width: 2560px) {
            /* HTML Elements */
                /* <body> */
                body {
                    font-size: 17.5px !important
                }

            /* Navigation */
            #nav {
                zoom: 2.5 !important
            }
    }

/* HTML Elements */
    /* <body> */
    body {
        animation-name: colorIn, fadeIn;
        background: #FFFFFF;
        color: #333333;
        font-family: Roboto;
        font-size: 16.6px;
        height: 100%;
        max-width: 100%;
        overflow-x: hidden
    }
    
    /* <h1>, <h2>, <h3>, <h4>, <h5>, <h6> */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500 !important
    }

/* Components */
    /* Navigation */
    #nav {
        border-bottom: 1px solid #CFCFCF;
        border-top: 0;
        font-size: 17.5px;
        outline: 0;
        top: 0;
        user-select: none;
        z-index: 5;
        zoom: 1.25
    }
        /* Navigation Item */
        #nav .nav-item {
            background-color: #FFFFFF;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            color: #0078FF;
            cursor: pointer;
            filter: none;
            font-size: 80%;
            outline: 0;
            user-select: none;
            transition: .5s ease;
            white-space: pre
        }
        #nav .nav-item::after {
            pointer-events: all !important
        }
        #nav .nav-item[href=""],
        #nav .nav-item[href="#"],
        #nav .nav-item:focus,
        #nav .nav-item:hover {
            background-color: #0078FF;
            color: #FFFFFF
        }
        #nav .nav-item::selection {
            background-color: transparent
        }
            /* Javascript */
            #nav .nav-item#javascript::after {
                content: "Javascript"
            }
    
            /* Documentation */
            #nav .nav-item#documentation::after {
                content: "Documentation"
            }

    /* Sections */
    .section {
        display: block;
        margin: 10px auto;
        overflow: hidden;
        padding: 5px 10%;
        width: 80%
    }
        /* Headers */
        .section h1,
        .section h2,
        .section h3,
        .section h4,
        .section h5,
        .section h6 {
            zoom: 1.1
        }

/* CSS Pseudo Classes */
    /* Scrollbar */        
        /* Buttons */
        ::-webkit-scrollbar-button {
            display: none
        }

        /* Corner */
        ::-webkit-scrollbar-corner {
            background: rgba(0, 0, 127, .825)
        }

        /* Thumb */
        ::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, .675)
        }
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, .75)
        }
        ::-webkit-scrollbar-thumb:active {
            background: rgba(255, 255, 255, .825)
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: rgba(0, 0, 127, .825)
        }