/* HTML Elements */
    /* Hyperlinks
            <a>
    */
    a {
        color: #0023FF
    }

    /* Container Elements
            <body>
    */
    body {
        background-color: #FFFFFF;
        color: #333333;
        font-family: Roboto, "Calibri Light", Calibri, Arial, sans-serif;
        font-size: 16.6px;
        height: 100%;
        max-width: 100%;
        overflow-x: hidden
    }

    /* Headers
            <h1>, <h2>, <h3>, <h4>, <h5>, <h6>
    */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300
    }

/* Components */
    /* Navigation */
    #nav {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .5);
        font-size: 18.5px;
        top: 0;
        user-select: none;
        z-index: 5
    }
    /* @media */
        /* Mobile View */
        @media only screen
            and (max-width: 425px)
            and (min-width: 0px) {
                #nav {
                    font-size: 15px
                }
        }

        /* Navigation Item */
        #nav .nav-item {
            background-color: #FFFFFF;
            border: 0;
            color: #0023FF;
            cursor: pointer;
            transition: .5s ease;
            white-space: pre
        }
            /* States */
                /* Empty Links, Focused, Hovered */
                #nav .nav-item[href=""],
                #nav .nav-item[href="#"],
                #nav .nav-item:focus,
                #nav .nav-item:hover {
                    background-color: #0023FF;
                    color: #FFFFFF
                }

            /* Javascript */
            #nav .nav-item#javascript::after {
                content: "Javascript"
            }
                /* @media */
                    /* Mobile View */
                    @media only screen
                        and (max-width: 425px)
                        and (min-width: 0px) {
                            #nav .nav-item#javascript::after {
                                content: "JS"
                            }
                    }

            /* Components */
            #nav .nav-item#components::after {
                content: "Components"
            }
                /* @media */
                    /* Mobile View */
                    @media only screen
                        and (max-width: 425px)
                        and (min-width: 0px) {
                            #nav .nav-item#components::after {
                                content: "Comp."
                            }
                    }

            /* Documentation, Themes */
                /* @media */
                    /* Mobile View */
                    @media only screen
                        and (max-width: 425px)
                        and (min-width: 0px) {
                            #nav .nav-item#documentation,
                            #nav .nav-item#themes {
                                display: none
                            }
                    }

    /* Footer */
    #footer {
        background-color: #FFFFFF;
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .5);
        padding: 10px 0
    }
        /* Footer Section */
        .footer-section {
            padding: 5px 10px;
            padding-left: 25px
        }
            /* Content */
            .footer-section > * {
                color: #0023FF !important;
                display: block;
                margin: 7.5px auto
            }

        /* Sponsors */
        #sponsors > * {
            display: inline-block;
            margin: 7.5px
        }

/* Assets */
    /* Sections */
    .section {
        display: block;
        margin: 10px auto;
        overflow: hidden;
        padding: 5px 10%;
        width: 80%
    }
        /* Headers */
        .section h1,
        .section h2,
        .section h3,
        .section h4,
        .section h5,
        .section h6 {
            zoom: 1.1
        }

/* Pseudo */
    /* Scrollbar */        
        /* Buttons */
        ::-webkit-scrollbar-button {
            background-color: #EFEFEF;
            display: block;
            height: 5px;
            width: 5px
        }

        /* Corner */
        ::-webkit-scrollbar-corner {
            background-color: rgba(0, 0, 127, .825)
        }

        /* Thumb */
        ::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, .675)
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, .75)
        }
        ::-webkit-scrollbar-thumb:active {
            background-color: rgba(255, 255, 255, .825)
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 127, .825)
        }