/* HTML Elements */
    /* <a> */
    a code,
    a code:focus,
    a code:hover {
        color: inherit !important
    }
    /* <main> */
    main {
        font-size: 125%
    }

/* Components */
#content {
    overflow: hidden
}
    /* Introduction */
    #intro {
        background: #0078FF;
        border-bottom: medium solid rgba(0, 0, 255, .5);
        box-shadow: inset 0 -12.5px 12.5px 0 rgba(0, 0, 0, .1);
        flex-basis: 100%;
        padding: 40px 50px 20px 50px;
        width: 100%
    }
        /* Header Group */
        #intro * {
            color: #FFFFFF;
            font-weight: bold
        }
        #intro h1 {
            font-size: 50px;
            margin: 20px 0
        }
        #intro h2 {
            font-size: 27.5px;
            margin: 50px 0 20px 0;
            text-indent: 5%;
            width: 90%
        }

    /* Main Content */
    #main {
        padding: 15px 7.5%
    }
        /* Headers */
        .header {
            border-color: rgba(0, 0, 0, .5);
            font-size: 250% !important;
            font-weight: bold !important;
            margin-top: 70px !important;
            padding-bottom: 5px
        }
        /* False Links */
        .a {
            color: #0078FF;
            cursor: pointer;
            transition: .1s
        }
        .a:hover {
            color: #0023FF
        }
        /* Message Boxes */
        [class*="msg"] {
            border-radius: 2px;
            box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .1);
            font-size: 15px;
            margin-left: 65px;
            margin-right: 0;
            min-height: 20px;
            padding: 10px;
            padding-left: 25px;
            width: 80%;
        }
        [class*="msg"]::before {
            background: inherit;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2), 0 0 0 2px #FFFFFF;
            color: #FFFFFF;
            content: " A ";
            font-size: 65%;
            height: 17.5px;
            left: 14.5%;
            line-height: 175%;
            margin-top: .5%;
            position: absolute;
            text-align: center;
            width: 17.5px;
            zoom: 1.1
        }
            /* Icons */
                /* Console-Screen Information Message */
                .msg-info::before {
                    background: #0023FF;
                    content: " I ";
                    font-weight: 900
                }
                /* Console-Screen Warning Message */
                .msg-warn::before {
                    background: #FFFF00;
                    color: #000000;
                    content: " W ";
                    font-weight: 900
                }
            /* Content */
            [class*="msg"] * {
                transition: .5s
            }
                /* Header */
                [class*="msg"] .title {
                    color: inherit;
                    font-size: 125%;
                    font-weight: bold;
                    margin: 7.5px 0;
                    margin-left: -15px
                }
                /* Code */
                [class*="msg"] code:not([default]),
                [class*="msg"] [code] {
                    background-color: #F0F0F0;
                    color: #FF2300;
                    display: inline-block;
                    margin: 1px
                }
                /* Hyperlinks */
                [class*="msg"] a {
                    color: #FFFFFF !important
                }
                [class*="msg"] a:focus,
                [class*="msg"] a:hover {
                    color: #00FFFF !important
                }
                /* Non-Header Content */
                [class*="msg"] *:not(.title) {
                    color: #000000
                }
                    /* Console-Screen Information Message */
                    .msg-info *:not(.title) {
                        color: #FFFFFF
                    }
        /* Tab Spacing
                --- NOTE ---
                    Not actual elements, but descriptive
                    enough for use.

                    They must also be used within text-based
                    elements only.
        */
        tab {
            display: inline-block;
            line-height: inherit;
            padding: 0 2vh
        }
        /* Content */
            /* 2nd Child
                    --- NOTE ---
                        The 2nd child must have an upper spacing before
                        any content begins.
            */
            #main > .section > *:nth-child(2) {
                margin-top: 20px
            }
            /* Icon Search Field */
            .icon-search {
                border-color: rgba(0, 0, 0, .5) !important;
                border-radius: 3px;
                outline: 0 !important;
                padding: 5px !important
            }
            /* Icon Frame Container Button */
            .icon-frame-expand {
                float: right;
                margin: 15px 0;
                z-index: 1
            }
            /* Icon Frame Container */
            .icon-frame {
                border: 1px solid rgba(0, 0, 0, .1);
                box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .2);
                float: none;
                height: 175px;
                margin: 15px auto;
                margin-right: 19%;
                padding-left: 33px;
                overflow-x: hidden;
                transition: 1s;
                width: 798px;
                z-index: 2
            }
                /* Icon Frame */
                .icon {
                    background: #EFEFEF;
                    box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, .4);
                    cursor: default;
                    display: inline-block;
                    height: 150px;
                    margin: 25px auto;
                    max-height: 150px;
                    max-width: 150px;
                    min-height: 100px;
                    min-width: 100px;
                    overflow: hidden;
                    padding: 5px;
                    text-align: center;
                    transition: .5s;
                    width: 133px;
                    zoom: .85
                }
                .icon:active {
                    cursor: pointer
                }
                .icon:hover {
                    background: #FFFFFF;
                    box-shadow: 0 0 5px 0 #000000;
                    margin-top: 0;
                    padding: 10px 5px
                }
                /* Icon Class Value
                        --- NOTE ---
                            Must not be seen on the page.
                */
                .icon-class-value {
                    position: fixed;
                    top: -1000px
                }
                    /* Icon */
                    .icon *:first-child[class*="icn"] {
                        font-size: 57.5px;
                        margin: 5px auto
                    }
                    /* Icon Name */
                    .icon *:nth-child(2):not([class*="icn"]) {
                        font-size: 20px;
                        margin: 5px auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: pre;
                        width: inherit
                    }
                    /* Icon Class */
                    .icon *:last-child:not([class*="icn"]) {
                        background: #0023FF;
                        box-shadow: 0 100px 0 100px #0023FF;
                        color: #FFFFFF;
                        font-size: larger;
                        margin-bottom: -5%;
                        margin-left: -5%;
                        margin-top: 5%;
                        padding: 2px 4px;
                        width: 107%
                    }
        /* Code | Usage */
        .code,
        .usage {
            margin: 25px auto;
            width: 85%
        }
            /* Header */
            .code::before {
                content: "Examples";
            }
            .usage::before {
                content: "Usage"
            }
            .code::before,
            .usage::before {
                display: block;
                font-family: Calibri;
                font-size: 27.5px;
                margin: 15px 0;
                margin-left: -2.5%;
                margin-block-end: .67em;
                margin-block-start: .67em;
                orphans: 3;
                widows: 3
            }
        /* Code Editor */
        .code > .code-editor {
            background: #25262B;
            border: 5px solid #FFFFFF;
            border-bottom: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5), inset 0 0 0 2px rgba(0, 0, 0, .05);
            color: #D5D6DB;
            font-family: Consolas, monospace, monospace;
            height: 0;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 10px;
            transition: .75s ease;
            white-space: pre-line
        }
        /* Code Preview */
        .code > .code-preview {
            background: #FFFFFF;
            border: 5px solid #FFFFFF;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top: 0;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5), inset 0 0 0 2px rgba(0, 0, 0, .05);
            color: #000000;
            margin: 0 auto;
            padding: 10px;
            overflow: hidden
        }
        /* Code Content */
        .code > .code-content {
            background: #25262B;
            border: 5px solid #FFFFFF;
            border-top: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            bottom: -1000px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5), inset 0 0 0 2px rgba(0, 0, 0, .05);
            color: #D5D6DB;
            font-family: Consolas, monospace, monospace;
            font-size: 107.25%;
            height: 150px;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 10px;
            position: fixed;
            resize: vertical;
            transition: .75s ease;
            width: 96%
        }
            /* Code Button */
            .code-button {
                border: 0 !important;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, .5), inset 0 0 0 2px rgba(0, 0, 0, .1);
                color: #FFFFFF !important;
                cursor: pointer;
                font-size: 105%;
                margin: 0 10px;
                outline: 0 !important;
                padding: 5px !important;
                text-shadow: 0 0 1px rgba(127, 127, 127, .5);
                transition: .25s;
                width: 120px
            }
            .code-button:focus,
            .code-button:hover {
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5), inset 0 0 0 100px rgba(255, 255, 255, .1);
                padding: 10px !important
            }
            .code-button:active {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25), inset 0 0 0 100px rgba(0, 0, 0, .1)
            }
                /* Copy Button */
                .code-copy-button {
                    background: #0045FF !important;
                    color: #FFFFFF !important
                }
                /* Edit Button */
                .code-edit-button {
                    background: #000056 !important
                }
                /* Toggle Button */
                .code-toggle-button {
                    background: #00DEDE !important
                }

    /* Main Navigation */
    #main-nav {
        box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, .75)
    }
        /* Document Navigation */
        #doc-nav {
            background: #FFFFFF;
            overflow: hidden
        }
            /* Navigation List Items */
            #doc-nav a {
                display: block;
                width: 100%
            }
            #doc-nav li {
                border-bottom: 1px solid rgba(0, 50, 255, .675);
                color: #0045FF !important;
                display: block;
                filter: grayscale(1) opacity(.75);
                font-size: 18.5px;
                margin: 0 auto;
                min-height: 20px;
                padding: 2px;
                transition: .75s ease;
                transition-property: box-shadow, color, filter, padding;
                width: inherit
            }
            #doc-nav li:hover,
            #doc-nav li[psd-hover] {
                box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, .5);
                color: #0078FF !important;
                filter: none;
                padding: 2px 4px
            }