/* Code Editor */
    /* Colors */
        /* Blue */
        .code-color-blue {
            color: #7AD1D9 !important
        }
        /* Comment | Gray */
        .code-color-comment,
        .code-color-comment .code-color-default,
        .code-color-comment .code-color-red {
            color: #65666B !important
        }
        /* Default | White */
        .code-color-blue .code-color-default,
        .code-color-yellow .code-color-blue .code-color-default,
        .code-color-default {
            color: #D5D6DB !important
        }
        /* Green */
        .code-color-green,
        .code-color-green.code-color-override .code-number {
            color: #7AD149 !important
        }
        /* Orange */
        .code-color-orange {
            color: #D68B30 !important
        }
        /* Purple */
        .code-color-green .code-number,
        .code-color-purple {
            color: #D17AD9 !important
        }
        /* Red */
        .code-color-green .code-color-red,
        .code-color-green .code-string,
        .code-color-red {
            color: #D42E64 !important
        }
        /* Yellow */
        .code-color-yellow,
        .code-color-yellow .code-color-default {
            color: #D1D97A !important
        }
    /* Characters */
        /* Tab Spacing */
        .code-tab {
            display: inline-block;
            padding: 0 1vh
        }
        .code-tab::before {
            color: rgba(101, 102, 107, .5);
            content: "|";
            margin-left: -1vh
        }