/* Components */
    /* Jumbotron */
    #header {
        background-color: #FFFFFF;
        padding: 30px 0
    }
        /* Content */
        #header * {
            margin: 15px auto;
            overflow: hidden;
            text-align: center
        }

        /* Logo */
        #header img {
            margin-bottom: 30px;
            pointer-events: none;
            user-select: none
        }

        /* Header Group */
            /* Content */
            #header hgroup * {
                font-weight: 300
            }

                /* States */
                    /* Selected */
                    #header hgroup ::selection {
                        background-color: transparent;
                        color: inherit
                    }

            /* Header */
            #header hgroup h1 {
                font-size: 60px
            }

            /* Sub Header */
            #header hgroup h2 {
                font-size: 32px;
                opacity: .75
            }

    /* Sections */
        /* Introduction */
        #introduction {
            text-align: center
        }

        /* Trailer */
            /* Content */
            #trailer * {
                pointer-events: all;
                user-select: none !important
            }
            #trailer > * {
                margin: 0 auto;
                text-align: center
            }
            
            /* Play Button */
            #playBtn {
                animation: fadeIn 2s ease-in 1;
                background: #0000FF;
                border: 0;
                border-radius: 50%;
                color: #FFFFFF;
                cursor: pointer;
                font-size: 50px;
                line-height: 90%;
                outline: 0;
                padding: 0;
                position: absolute
            }
                /* @keyframes */
                /* Animation for Deletion */
                @keyframes fadeOut {
                    0% {
                        opacity: 1
                    }
                    to {
                        opacity: 0
                    }
                }

                /* @media */
                    /* Mobile S View */
                    @media only screen
                        and (max-width: 320px)
                        and (min-width: 0px) {
                            #playBtn {
                                left: 40%;
                                transform: translateY(20px);
                                zoom: 1.125
                            }
                    }

                    /* Mobile M View */
                    @media only screen
                        and (max-width: 375px)
                        and (min-width: 321px) {
                            #playBtn {
                                left: 40%;
                                transform: translateY(30px);
                                zoom: 1.25
                            }
                    }

                    /* Mobile L View */
                    @media only screen
                        and (max-width: 425px)
                        and (min-width: 376px) {
                            #playBtn {
                                left: 40%;
                                transform: translateY(25px);
                                zoom: 1.5
                            }
                    }

                    /* Tablet View */
                    @media only screen
                        and (max-width: 768px)
                        and (min-width: 426px) {
                            #playBtn {
                                left: 45%;
                                transform: translateY(50px);
                                zoom: 1.625
                            }
                    }

                    /* Laptop View */
                    @media only screen
                        and (max-width: 1024px)
                        and (min-width: 769px) {
                            #playBtn {
                                left: 45%;
                                transform: translateY(50px);
                                zoom: 1.75
                            }
                    }

                    /* Laptop L View */
                    @media only screen
                        and (max-width: 1440px)
                        and (min-width: 1025px) {
                            #playBtn {
                                left: 45%;
                                transform: translateY(65px);
                                zoom: 1.825
                            }
                    }

                    /* 4K View */
                    @media only screen
                        and (max-width: 2560px)
                        and (min-width: 1441px) {
                            #playBtn {
                                left: 45%;
                                transform: translateY(57.5px);
                                zoom: 2
                            }
                    }

                /* States */
                    /* Focused */
                    #playBtn:focus {
                        animation: fadeOut .675s 1;
                        opacity: 0
                    }
            
            /* Video Console */
            #vid {
                height: auto;
                max-height: 300px;
                width: 75%
            }

            /* Video Controls */
            #vid + nav {
                background-color: #0078FF;
                display: flex;
                justify-content: center;
                width: 75%
            }
                /* Components */
                #vid + nav > * {
                    background-color: transparent
                }
                
                /* Buttons
                        Play Button, Stop Button, Volume Button, Fullscreen Button
                */
                #vid + nav > [data-vid-play],
                #vid + nav > [data-vid-stop],
                #vid + nav > [data-vid-vol],
                #vid + nav > [data-vid-flscrn] {
                    border: 0
                }

                /* Miscellaneous
                        Download Link, Slow Playback Button, Speed Playback Button, Playback Rate

                        --- NOTE ---
                            None of these components must show.
                */
                #vid + nav > [data-vid-dwnld],
                #vid + nav > [data-vid-slow],
                #vid + nav > [data-vid-fast],
                #vid + nav > [data-vid-rate] {
                    display: none !important
                }

        /* Download */
        #download {
            text-align: center;
            user-select: none
        }
            /* Header */
            #download h1:first-of-type {
                text-transform: uppercase
            }

            /* Options Section */
            #options {
                display: inline-flex;
                margin: 0 auto
            }
                /* Download Option */
                #options .download-option {
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
                    display: inline-block;
                    flex-basis: 49%;
                    margin: 5px 10px;
                    padding: 7.5px
                }
                    /* Headers */
                    #options .download-option h2:first-of-type {
                        font-size: 125%;
                        text-transform: uppercase
                    }

        /* Why */
        #why {
            text-align: center
        }

    /* Updates
            --- NOTE ---
                Notification Color = #00FF00
    */
    #updates {
        border-top: 2px solid #00FF00;
        bottom: 0;
        display: block;
        position: fixed;
        width: 100%
    }
        /* Notifier */
        #notifier {
            animation: notify 1s ease-in-out 0s 5 normal backwards running;
            background: #00FF00;
            border-color: rgba(255, 255, 255, .5);
            border-style: solid;
            border-radius: 50%;
            box-shadow: none;
            bottom: -30px;
            color: rgba(0, 0, 0, .75);
            cursor: pointer;
            display: block;
            font-family: Calibri;
            font-size: 24px;
            font-weight: bold;
            height: 20px;
            left: 5%;
            position: absolute;
            transition: all .5s ease, border-radius 1.67s ease;
            width: 20px
        }
            /* States */
                /* Post Content */
                #notifier::after {
                    content: "";
                    line-height: 0
                }

            /* @media */
                /* Mobile S View */
                @media only screen
                    and (max-width: 320px)
                    and (min-width: 0px) {
                        #notifier {
                            font-size: 15px
                        }
                }

    /* Footer */
    #footer {
        padding-bottom: 50px
    }