/* Components */
    /* Navigation Tab */
    #navTb {
        margin: 10px auto;
        min-height: 60px;
        z-index: 4
    }
        /* Navigation Tab Links
            --- NOTE ---
                The ".psd-focus" (pseudo focus) class is to stimulate
                the synchronization of the main Navigation
                Tab to this one.
        */
        #navTb > a {
            border-bottom: 1px solid #0045FF;
            color: #0045FF;
            flex-basis: 14%;
            flex-grow: 1;
            font-weight: lighter;
            height: inherit;
            padding: 15px 0;
            transition: .25s cubic-bezier(.77, 0, .18, .1)
        }
        /* --- NOTE ---
                Activate the first link – which anchors to the current page.

                Add a class to mimic the element's
                hovered state.
        */
        #navTb > a:first-of-type,
        #navTb > a:focus,
        #navTb > a:hover,
        #navTb > a.psd-focus {
            background: #04F;
            color: #FFFFFF;
            left: 0;
            outline: 1px solid rgba(255, 255, 255, .5)
        }
    /* Introduction */
    #intro {
        background-attachment: local;
        background-color: #000;
        background-image: url("../img/gif/Lapys%20JS%20Jumbotron.gif");
        background-size: 100%;
        height: 650px;
        text-shadow: 0 0 5px #000;
        z-index: 3
    }
    #intro > hgroup {
        bottom: -1px;
        color: #FFF;
        margin-left: -2.5%;
        position: relative;
        width: 105%
    }
        /* Logo */
        #intro > hgroup > #logo {
            border-radius: 50%;
            border-bottom-right-radius: 0;
            bottom: 30px;
            position: relative;
            zoom: 1.5;
            -moz-user-drag: none;
            -webkit-user-drag: none
        }
        /* Headers */
        #intro > hgroup > #title {
            font-size: 80px;
            margin: 0;
            padding: 10px 0
        }
        #intro > hgroup > #subtitle {
            font-size: 50px;
            margin: 0;
            padding: 10px 0
        }
    /* Main Content Container */
    #content > * {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
        flex-grow: 1;
        z-index: 2
    }
        /* Main Content */
        #main {
            background-attachment: fixed;
            background-color: transparent;
            background-image: url("../img/png/backdrop.png");
            overflow-x: hidden;
            max-width: 100%;
            padding: 15px;
            width: 100%
        }
            /* Sections */
            .section {
                font-size: 24px;
                height: auto;
                margin: 50px auto;
                text-align: center;
                width: 100%
            }
                /* Section Header */
                .section h1 {
                    margin: 10px auto
                }
                /* Section Division */
                .section div {
                    font-size: 90%;
                    margin: 15px auto;
                    width: 65%
                }
                /* Section Paragraph Break */
                .section div:first-of-type hr {
                    margin: 15px auto;
                    width: 50%
                }
                /* Trailer Video
                    --- NOTE ---
                        Lot of code here.
                */
                #trailer {
                    margin-bottom: 100px;
                    width: 100%
                }
                    /* Play Button */
                    #trailer > button {
                        background: #02F;
                        border-radius: 50%;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
                        color: #FFF;
                        cursor: default;
                        font-size: 175px;
                        height: 125px;
                        line-height: 0;
                        opacity: .25;
                        outline: 0;
                        position: absolute;
                        text-align: left;
                        transform: translate(-75px, 125px);
                        transition: .5s;
                        width: 125px
                    }
                    #trailer > button:hover {
                        opacity: 1
                    }
                    #trailer > button:active {
                        box-shadow: 0 0 5px 0 rgba(255, 255, 255, .5), 0 0 25px 0 rgba(255, 255, 255, .5);
                        cursor: pointer
                    }
                        /* Play Button Text */
                        #trailer > button > span {
                            position: relative;
                            right: 15px
                        }
                    /* Video Container */
                    #trailer div {
                        margin: 0 auto;
                        height: 400px !important;
                        outline: 1px solid #777;
                        overflow: hidden;
                        width: 70%
                    }
                    /* Video Console */
                    #trailer div:hover > nav {
                        opacity: 1
                    }
                    /* Video & Console */
                    #trailer div > * {
                        width: 100%
                    }
                    /* Video Console */
                    #trailer div > nav {
                        background: #04F;
                        bottom: 30px;
                        color: #FFF;
                        cursor: default;
                        height: 30px !important;
                        opacity: 0;
                        outline: 1px solid #FFF;
                        overflow: hidden;
                        position: relative;
                        transition: .75s
                    }
                        /* Video Console Controls */
                        #trailer div > nav > * {
                            background: transparent;
                            border: 0;
                            display: inline-block;
                            float: left;
                            height: 100%;
                            margin: 0 5px;
                            outline: 0;
                            position: relative;
                            transition: .5s;
                            width: 30px
                        }
                        /* Video Console Current Time */
                        #trailer div > nav > [data-vid-currenttime] {
                            margin-right: 0
                        }
                        #trailer div > nav > [data-vid-currenttime]::after {
                            content: "/"
                        }
                        /* Video Console Playback Time */
                        #trailer div > nav > [data-vid-currenttime],
                        #trailer div > nav > [data-vid-duration] {
                            flex-basis: 75px;
                            display: inline-block;
                            font-size: 16px;
                            font-weight: lighter;
                            line-height: 32.5px;
                            width: auto
                        }
                        /* Video Console Duration */
                        #trailer div > nav > [data-vid-duration] {
                            margin-left: -10px
                        }
                        /* Video Console Buttons
                                --- NOTE ---
                                    They must be hidden.
                        */
                        #trailer div > nav > [data-vid-dwnld],
                        #trailer div > nav > [data-vid-fast],
                        #trailer div > nav > [data-vid-flscrn],
                        #trailer div > nav > [data-vid-rate],
                        #trailer div > nav > [data-vid-slow] {
                            display: none !important
                        }
                        /* Video Console Play Button
                                --- NOTE ---
                                    The play button is created via CSS.
                        */
                        #trailer div > nav > [data-vid-play] {
                            border: 0;
                            border-bottom: 10px solid transparent;
                            border-left: 10px solid #FFF;
                            border-top: 10px solid transparent;
                            flex-basis: 10px;
                            top: 5px
                        }
                        #trailer div > nav > [data-vid-play]:not([style]):active,
                        #trailer div > nav > [data-vid-play]:not([style]):focus {
                            /* --- NOTE ---
                                    Play format.
                            */
                            border-left-color: #00F
                        }
                        #trailer div > nav > [data-vid-play][style]:active,
                        #trailer div > nav > [data-vid-play][style]:focus {
                            /* --- NOTE ---
                                    Pause format.
                            */
                            background-image: url(../img/png/icons/pause-focus.png) !important
                        }
                        /* Video Console Seek Bar */
                        #trailer div > nav > [data-vid-seek] {
                            flex-basis: 32%;
                            flex-grow: 1;
                            width: 32.5%
                        }
                        /* Video Console Stop Button
                                --- NOTE ---
                                    The stop button is created via CSS.
                        */
                        #trailer div > nav > [data-vid-stop] {
                            background: #FFF;
                            box-shadow: 0 0 .1px 0 #000;
                            flex-basis: 15px;
                            height: 15px !important;
                            top: 9px;
                            width: 15px !important
                        }
                        #trailer div > nav > [data-vid-stop]:active,
                        #trailer div > nav > [data-vid-stop]:focus {
                            background: #00F
                        }
                        /* Video Console Volume Button */
                        #trailer div > nav > [data-vid-vol] {
                            background-attachment: scroll;
                            background-image: url(../img/png/icons/speaker.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            flex-basis: 20px;
                            height: 20px !important;
                            top: 5px;
                            width: 20px !important
                        }
                        #trailer div > nav > [data-vid-vol]:active,
                        #trailer div > nav > [data-vid-vol]:focus {
                            background-image: url(../img/png/icons/speaker-focus.png)
                        }
                        #trailer div > nav > [data-vid-vol][style]:focus {
                            background-image: url(../img/png/icons/speaker-mute-focus.png) !important
                        }
                        /* Video Console Volume Bar */
                        #trailer div > nav > [data-vid-vol]:hover + [data-vid-volrange],
                        #trailer div > nav > [data-vid-volrange]:hover {
                            opacity: 1
                        }
                        #trailer div > nav > [data-vid-volrange] {
                            flex-basis: 12.5%;
                            opacity: 0;
                            transition: .6s ease-in .25s;
                            width: 12.5%
                        }
                        /* Video Console Buttons */
                        #trailer div > nav > [type*="but"] {
                            color: transparent;
                            cursor: pointer;
                            filter: drop-shadow(0px 0px 1px #000);
                            height: 0;
                            line-height: 0;
                            overflow: hidden;
                            width: 0
                        }
                        /* Video Console Seekers */
                        #trailer div > nav > [type*="range"] {
                            background: transparent;
                            -webkit-appearance: none
                        }
                        #trailer div > nav > [type*="range"]::-ms-track {
                            background: transparent;
                            border-color: transparent;
                            color: transparent;
                            cursor: pointer
                        }
                            /* Video Console Seekers > Thumb */
                            #trailer div > nav > [type*="range"]::-moz-range-thumb {
                                border: 1px solid #FFFFFF;
                                border-radius: 50%;
                                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
                                cursor: pointer;
                                width: 10px
                            }
                            #trailer div > nav > [type*="range"]::-ms-thumb {
                                border: 1px solid #FFFFFF;
                                border-radius: 50%;
                                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
                                cursor: pointer;
                                width: 10px
                            }
                            #trailer div > nav > [type*="range"]::-webkit-slider-thumb {
                                background: #FFFFFF;
                                border: 1px solid #FFFFFF;
                                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
                                cursor: pointer;
                                height: 5px;
                                width: 10px;
                                -webkit-appearance: none
                            }
                            /* Video Console Seekers > Track */
                            #trailer div > nav > [type*="range"]::-moz-range-track {
                                background: rgba(0, 0, 0, .5);
                                border-radius: 3px;
                                box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                                cursor: pointer;
                                height: 2px;
                                width: 100%;
                            }
                            #trailer div > nav > [type*="range"]::-ms-track {
                                background: rgba(0, 0, 0, .5);
                                border-radius: 3px;
                                box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                                cursor: pointer;
                                height: 2px;
                                width: 100%;
                            }
                            #trailer div > nav > [type*="range"]::-webkit-slider-runnable-track {
                                background: rgba(0, 0, 0, .5);
                                border-radius: 3px;
                                box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                                cursor: pointer;
                                height: 2px;
                                width: 100%;
                            }
                    /* Video */
                    #trailer div > video {
                        height: inherit
                    }
                /* Download */
                #download {
                    border: 1px solid;
                    color: #04F;
                    width: 65%
                }
                    /* Download Sections */
                    #download > section > a {
                        border: 1px solid;
                        box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, .25);
                        cursor: pointer;
                        display: inline-block;
                        margin: 10px 0;
                        transition: .5s background;
                        width: 45%
                    }
                    #download > section > a:hover {
                        background: #0045FF;
                        color: #FFF
                    }
                    #download > section > a:active {
                        background: rgba(0, 50, 255, .75)
                    }
                /* Unique Features */
                #uniqueFeatures nav {
                    margin: 0 auto;
                    width: 85%
                }
                    /* Divisions */
                    #uniqueFeatures nav div {
                        display: block;
                        margin: 10px 5px
                    }
                    /* Text */
                    #uniqueFeatures nav div > *:not(h2) {
                        margin: 0 auto;
                        width: 75%
                    }
                    /* Icons */
                    #uniqueFeatures nav div > img {
                        color: transparent;
                        height: 100px;
                        width: 100px
                    }
                /* Why it Works */
                    /* Divisions */
                    #whyItWorks div {
                        width: 85%
                    }
                    /* Paragraph Breaks */
                    #whyItWorks hr {
                        margin: 50px auto
                    }
                /* Conclusion */
                #brandingSection {
                    padding-left: 2.5%
                }
                    /* Sections */
                    #brandingSection > div {
                        align-items: center;
                        width: 85%
                    }
        /* Main Content Navigation */
        #main-nav {
            display: none !important
        }