/* CSS At-Rules */
/* @media */
    /* Mobile S  */
    @media only screen
        and (max-width: 320px)
        and (min-width: 0px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 40%;
                            transform: translateY(20px);
                            zoom: 1.125
                        }

                /* Updates */
                    /* Notifier */
                    #notifier {
                        font-size: 15px !important
                    }
    }
    
    /* Mobile M  */
    @media only screen
        and (max-width: 375px)
        and (min-width: 321px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 40%;
                            transform: translateY(30px);
                            zoom: 1.25
                        }
    }
    
    /* Mobile L  */
    @media only screen
        and (max-width: 425px)
        and (min-width: 376px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 40%;
                            transform: translateY(25px);
                            zoom: 1.5
                        }
    }
    
    /* Tablet */
    @media only screen
        and (max-width: 768px)
        and (min-width: 426px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 45%;
                            transform: translateY(50px);
                            zoom: 1.625
                        }
    }   
    
    /* Laptop  */
    @media only screen
        and (max-width: 1024px)
        and (min-width: 769px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 45%;
                            transform: translateY(50px);
                            zoom: 1.75
                        }
    }
    
    /* Laptop L  */
    @media only screen
        and (max-width: 1440px)
        and (min-width: 1025px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 46.25%;
                            transform: translateY(65px);
                            zoom: 1.825
                        }
    }
    
    /* 4K  */
    @media only screen
        and (max-width: 2560px)
        and (min-width: 1441px) {
            /* Components */
                /* Sections */
                    /* Trailer */
                        /* Play Button */
                        #playBtn {
                            left: 48.25%;
                            transform: translateY(57.5px);
                            zoom: 2
                        }
    }

/* Components */
    /* Jumbotron */
    #header {
        background: #FFFFFF;
        padding: 16px
    }
        /* Content */
        #header * {
            margin: 0 auto;
            overflow: hidden;
            text-align: center
        }
        #header *::selection {

        }

        /* Logo */
        #header img {
            margin-bottom: 28.7969px;
            pointer-events: none;
            user-select: none
        }

        /* Headers */
        #header hgroup {  }
            /* Content */
            #header hgroup *::selection {
                background-color: transparent;
                color: inherit
            }

            /* Title */
            #header hgroup h1 {
                font-size: 60px
            }

            /* Subtitle */
            #header hgroup h2 {
                font-size: 32px;
                margin-left: -5%;
                opacity: .9;
                width: 110%
            }

    /* Sections */
        /* Introduction */
        #introduction {
            text-align: center
        }

        /* Trailer */
            /* Content */
            #trailer * {
                pointer-events: all;
                user-select: none !important
            }
            #trailer > * {
                margin: 0 auto;
                text-align: center
            }
            
            /* Play Button */
            #playBtn {
                animation: fadeIn 2s ease-in 1;
                background: #0000FF;
                border: 0;
                border-radius: 50%;
                color: #FFFFFF;
                cursor: pointer;
                font-size: 50px;
                line-height: 90%;
                outline: 0;
                padding: 0;
                position: absolute
            }
            #playBtn:focus {
                animation: fadeOut .675s 1;
                opacity: 0
            }
                @keyframes fadeOut {
                    0% {
                        opacity: 1
                    }
                    to {
                        opacity: 0
                    }
                }
            
            /* Media Console */
            #vid {
                height: auto;
                max-height: 300px;
                width: 75%
            }

            /* Media Controls */
            #vid + nav {
                width: 75%
            }

        /* Download */
        #download {
            text-align: center;
            user-select: none
        }
            /* Header */
            #download h1:first-of-type {
                text-transform: uppercase
            }

            /* Options Section */
            #options {
                display: inline-flex;
                margin: 0 auto
            }
                /* Download Option */
                #options .download-option {
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
                    display: inline-block;
                    flex-basis: 49%;
                    margin: 5px 10px;
                    padding: 7.5px
                }
                    /* Headers */
                    #options .download-option h2:first-of-type {
                        font-size: 125%
                    }

        /* Why */
        #why {
            text-align: center
        }

    /* Updates
            --- NOTE ---
                Notification Color = #00FF00
    */
    #updates {
        border-top: 2px solid #00FF00;
        bottom: 0;
        display: block;
        position: fixed;
        width: 100%
    }
        /* Notifier */
        #notifier {
            animation: notify 1s ease-in-out 0s 5 normal backwards running;
            background: #00FF00;
            border-color: rgba(255, 255, 255, .5);
            border-style: solid;
            border-radius: 50%;
            box-shadow: none;
            bottom: -30px;
            color: rgba(0, 0, 0, .75);
            cursor: pointer;
            display: block;
            font-family: Calibri;
            font-size: 24px;
            font-weight: bold;
            height: 20px;
            left: 5%;
            position: absolute;
            transition: all .5s ease, border-radius 1.67s ease;
            width: 20px
        }
        #notifier::after {
            content: "";
            line-height: 0
        }