/* HTML Elements */
    /* <hr> */
    hr {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, .05);
        margin: 20px auto;
        opacity: .75 !important;
        outline: 1px solid #FFF;
        width: 95% !important
    }

/* Components */
    /* Notifications Bar */
    #notify,
    #notify + *,
    #notify + * + * { display: none !important }
        /* Sections */
            /* Message Section */
            #messageSection {
                box-shadow: inset 0 -50px 50px 0 rgba(0, 0, 0, .1);
                color: #FFF;
                display: flex;
                flex-direction: column;
                height: 275px;
                overflow: hidden;
                text-shadow: 0 0 5px #000
            } #messageSection * {
                display: block;
                flex-grow: 0;
                width: 100%
            } #messageSection #title {
                font-size: 50px;
                font-weight: bolder;
                margin: 20px auto
            } #messageSection #subtitle {
                font-size: 30px;
                font-weight: normal;
                margin: 10px auto
            }
            /* Article Section */
            #articleSection {
                font-size: 20px;
                margin: 0 auto;
                padding: 50px 30px 10px 30px;
                text-align: center
            } #articleSection > .sub-section { margin: 0 auto }
            #articleSection > .sub-section h1 {
                margin: 15px auto 10px auto;
                padding-left: 12.5%;
                text-align: left
            }
                /* Opening Section (Main Content) */
                #articleSection > #openingSection {
                    text-align: left;
                    width: 90%
                } #articleSection > #openingSection img:first-of-type {
                    display: block;
                    height: 150px;
                    margin: 15px auto;
                    text-align: center;
                    width: 90%
                } #articleSection > #openingSection img:last-of-type {
                    display: inline-block;
                    float: right;
                    height: 200px;
                    margin: 10px 20px;
                    width: 200px
                } #articleSection > #openingSection p { text-align: justify }
                #articleSection > #openingSection p:last-of-type {
                    margin-top: 15px;
                    min-height: 230px;
                    text-indent: 5%
                }
                /* Body Section (Additional Content) */
                #articleSection > #bodySection > img {
                    height: 175px;
                    margin: 15px auto;
                    width: 75%
                } #articleSection > #bodySection > p {
                    margin: 0 auto;
                    text-align: justify;
                    text-indent: 5%;
                    width: 95%
                }
                /* Closing Section (Final Thoughts) */
                #articleSection > #closingSection > img {
                    height: 175px;
                    margin: 15px auto;
                    width: 75%
                } #articleSection > #closingSection > p {
                    margin: 0 auto;
                    text-align: left;
                    width: 95%
                }
    /* Main Content Navigation */
    #main-nav { display: none !important }